<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="styles.css" />
    <base href="http://localhost/" />
    <title>CSVision</title>
  </head>
  <body>
    <header>
      <h1>CSVision</h1>
    </header>
    <main>
      <section
        hx-get="partials/configure.html"
        hx-trigger="load"
        hx-target="this"
        class="configuration"
      ></section>
      <section
        hx-get="partials/results.html"
        hx-trigger="load"
        hx-target="this"
        class="results"
      ></section>
    </main>
    <footer>
      <p>&copy; 2025 CSVision</p>
    </footer>
  </body>
</html>
