footer,
header {
  margin-top: 20px;
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

section {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100vh;
}

h2 {
  text-align: center;
  justify-content: center;
}

.configuration {
  
}

.results {
}
