.htmx-indicator {
  display: none;
  align-items: center;
  gap: 8px;
  color: var(--text-color);
  font-size: 0.95rem;
}
.htmx-indicator.htmx-request {
  display: inline-flex;
}

.loader {
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: var(--primary-color);
  display: block;
  margin: -50px auto 0;
  position: relative;
  color: #fff;
  transform: translateY(30px);
  box-sizing: border-box;
  animation: animloader 2s ease infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: var(--primary-color);
  color: #fff;
  position: absolute;
  left: 30px;
  top: 0;
  animation: animloader 2s 0.2s ease infinite;
}
.loader::before {
  animation-delay: 0.4s;
  left: -30px;
}

@keyframes animloader {
  0% {
    top: 0;
    color: white;
  }
  50% {
    top: 30px;
    color: var(--primary-color);
  }
  100% {
    top: 0;
    color: white;
  }
}
